{% extends 'weatherapp/base.html' %}
<!-- Weather widget links: 
<a href="https://www.flaticon.com/free-icons/today" title="today icons">Today icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/tomorrow" title="tomorrow icons">Tomorrow icons created by Freepik - Flaticon</a>
-->
{% block title %}Weather Forecast{% endblock %}

{% block header %}
<a class="navbar-brand px-2 py-2 mb-0 h1 font-weight-bold" href="{% url 'index' %}">Weather Display: Weather Forecast</a>
{% endblock header %}

{% block content %}
    {% load static %}
    <h2>Choose a day you would like to be displayed!</h2>
    <form method="post">
        {% csrf_token %}
        <div class = "buttongroup">
            <button class="btn" name="today" value="today">
                <img src="{% static 'icons/forecast.png' %}" alt="buttonpng"/>
                <div>Today</div>
            </button>
            <button class="btn" name="tomorrow" value="tomorrow">
                <img src="{% static 'icons/tomorrow.png' %}" alt="buttonpng"/>
                <div>Tomorrow</div>
            </button>
        </div>
    </form>

{% endblock %}