{% extends 'weatherapp/base.html' %}
<!-- Weather widget links: 
<a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by Eucalyp - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by Eucalyp - Flaticon</a>
-->
{% block title %}Weather Forecast{% endblock %}

{% block header %}
<a class="navbar-brand px-2 py-2 mb-0 h1 font-weight-bold" href="{% url 'index' %}">Weather Display: Weather Forecast</a>
{% endblock header %}

{% block content %}
    {% load static %}
    

{% endblock %}